* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: start;
  gap: 2rem;
}

.title {
  font-size: 3.4rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 60%;
}

.input-container p {
  font-size: 2rem;
  font-weight: 600;
}

.total-string {
  font-size: 3.2rem;
  font-weight: 700;
}

.reset-btn {
  font-size: 2rem;
  padding: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: #462b72;
  color: #fff;
  border-radius: 1.2rem;
}
